/* Footer.css */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2C767A;
  color: white;
  text-align: center;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.newsletter-signup {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add margin to the right of the signup form */
}

.newsletter-signup input {
  padding: 10px;
  margin-right: 10px; /* Add spacing between input and button */
  border: 1px solid #fff; /* Add border to the input */
}

.newsletter-signup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.copyright {
  margin-left: 20px; /* Move the copyright to the left */
  font-size: 18px;
}