/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border: 1px solid #000;
  padding: 0 20px; /* Added padding for better layout */
  box-sizing: border-box;
  
}

.header img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

.logo {
  height: 50px;
  margin-right: 10px;
  width: auto;
}

.logo-and-text {
  display: flex;
  align-items: center;
}

.logo-title {
  display: flex;
  align-item: center;
  position: relative;
}

.nav {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: wheat;
}

.nav-list {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  text-align: center;
}

.nav-list ul {
  display: flex;
}

.nav-item {
  display: inline-block;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  margin-right: 25px;
  font-family: Arial, sans-serif;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #f00;
}