/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
  color: #fff;
 
  grid-template-columns: 1fr auto;
}

/* Header.css */
.logo {
  height: 50px; /* Adjust this value according to your needs */
  margin-right: 10px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;
}

.nav-item {
  display: inline-block;
  padding:  20px;
  margin-right: 25px; /* Adjust as needed */
  font-family: Arial, sans-serif;
}