
.social-media-icons a {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 25px;
  margin: 0 5px;
}

.social-icons a:hover {
  background-color: #007bff;
}

.icon {
  text-decoration: none;
}
