.social-media-icon {
  /* Add your styles for the social media icon container here */
  display: inline-flex;
  justify-content: left;

  border-radius: 50%; /* Make the icon circular */
  width: 40px; /* Set the width of the icon */
  height: 40px; /* Set the height of the icon */
  background-color: #f0f0f0; /* Set the background color of the icon */
  color: #000; /* Set the color of the icon */
  text-decoration: none; /* Remove the underline from the link */
}

.social-media-icon:hover {
  /* Add your styles for the social media icon when hovered */
  background-color: #ddd; /* Change the background color of the icon when hovered */
}