.App {
  text-align: center;
}

/* App.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.App-logo {
 order:1;
}

.App-title {
  order:2;
  font-size: 1.5em;
}

.App-intro {
  order:3;
  font-size: large;
}

.account {
  order: 2; /* Position in the middle */
}

.account a {
  text-decoration: none;
  color: #000;
}

.social-icon {
  order: 3; /* Position to the right */
}

/*And here's how you can add a media query to change the background color for screens that are 600px wide or less:*/

img {
  max-width: 100%;
  height: auto;
}

/*Remember to import your CSS file into your JavaScript or TypeScript file so that the styles are applied. For example, if you're using App.css, you can import it in your App.js or App.tsx file like this:*/
@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

