.sideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.social-icons {
  margin-top: auto;
}

.search-Bar {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Adjust the style for screens smaller than 600px */
@media (max-width: 600px) {
  .search-Bar {
    width: 100%;
  }
}

