/* HomePage.css */
html, body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}


#root {
  flex: 1 0 auto;

}

/* Homepage styles */
.homepage {
  background-color: #f5f5f5;
  padding-top: 0px;
  padding-bottom: 0px;
}



/* Body container styles */
.body-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Add space between sections */
}

/* Body section styles */
.body-section {
  flex-grow: 1; /* Allow sections to grow to fill the container */
  margin: 0 10px; /* Add some horizontal margin */
}

.homepage-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Container styles */
.container {
  position: relative; /* Use relative positioning */
  /* Other styles... */
  display: flex;
  flex-direction: row-reverse;
}


/* HomePage.css */

/* Vertical line styles */
.vertical-line {
  position: absolute; 
  border-left: 1px solid #000; /* Adjust color as needed */
  height: 100px; /* Set the height */
  width: 2px; /* Set the width */
  top: 0;
}

/* Additional styles for the second vertical line */
.vertical-line-2 {
  border-left: 2px solid #f00; /* Adjust color as needed */
}

/* Additional styles for the third vertical line */
.vertical-line-3 {
  border-left: 3px solid #0f0; /* Adjust color as needed */
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f5f5f5;
}

.content {
  flex-grow: 1;
}

footer {
  background-color: #2C767A;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}
